<div class="wrapper-login">
    <img class="kaktus" src="./kaktus.svg" alt="succulente" />

    <form method="POST">
        <h2>Login to your account</h2>

        <label class="fieldname">E-mail</label>
        <input type="email" name="email" />

        <label class="fieldname">Password</label>
        <input type="password" name="password" />
         {{> error}}

        <button style="margin-top: 20px; padding: 10px">
            Login
        </button>

    </form>

</div>