<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="main.css" />
        <link rel="stylesheet" href="bg-plant.css" />
    </head>
    <body>
        <div class="signers">
            <div class="wrapper">
                <h2>List of people, who already signed the petition</h2>
                <ul>
                    {{#sendSigners}}
                      <p class="signer">{{> name}}
                     <span>{{age}}</span>
                     <span><a
                    class="city"
                    href="/signers/{{city}}"
                    >{{city}}</a></span></p>
                     {{/sendSigners}}
                </ul>
                   
            </div>
        </div>
        <a class="thanks" href="/thanks">Go back to thanks</a>
     
    </body>
</html>